PORT=3002
NEXT_PUBLIC_APP_URL=http://localhost:3002
CRM_SERVICE_URL=https://nexai-crm-core.vercel.app/api/leads

# Firebase Firestore Compartido (Base de Datos Central)
NEXT_PUBLIC_FIREBASE_API_KEY=AIzaSyC25Nr1jm3Y27e888Jod1jNZgcLA5SFfmU
NEXT_PUBLIC_FIREBASE_AUTH_DOMAIN=nexai-crm-database.firebaseapp.com
NEXT_PUBLIC_FIREBASE_PROJECT_ID=nexai-crm-database
NEXT_PUBLIC_FIREBASE_STORAGE_BUCKET=nexai-crm-database.firebasestorage.app
NEXT_PUBLIC_FIREBASE_MESSAGING_SENDER_ID=99918788107
NEXT_PUBLIC_FIREBASE_APP_ID=1:99918788107:web:35de4dec97ebb030b0b90e

# Inferencia de Inteligencia Artificial
GROQ_API_KEY=
OLLAMA_API_URL=
OLLAMA_MODEL_NAME=qwen2.5:1.5b
